.languages {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--bg-color-primary, var(----bg-color-primary)) !important;
}

.swiper-pagination-bullet-active {
    background: var(--bg-color-primary, var(--bg-color-primary)) !important;
}

@media (min-width: 1201px) {
    .languages {
        padding: 50px 0;
    }
}